body {
  margin: 0;
}

.text-secondary {
  color: #ddd;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  
}

.content {
  h1 {
    font-family: 'Ubuntu', sans-serif;
  }
}